<section>
    <header>
        <h1>Staff</h1>
    </header>
    <div class="departmentStaff">
        <table>
            <tbody>
                {% for person in department.people %}
                <tr><td>{% if person.displayName %}
                        {{ person.displayName }}
                        {% else %}
                        {{ person.firstname }} {{ person.lastname }}
                        {% endif %}
                        <span class="title">{{ person.title }}</span>
                    </td>
                    <td>{{ person.email }}</td>
                    <td>{{ person.pager }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</section>
